
@{
    ViewData["Title"] = "Index";
}

<h2>Page</h2>

<p>
    This is a page.<br />
    @Html.ActionLink("Add a random number between 1 and 20 messages to the service bus queue", "SendMessage")
    <br />
      @ViewBag.Result
</p>